<% if can? :index, Spree::Artist %>
  <% content_for :page_actions do %>
    <%= button_link_to Spree.t('back_to_artist'), spree.admin_artists_path, icon: 'arrow-left' %>
  <% end %>
<% end %>

<% content_for :page_title do %>
  <%== Spree.t(:editing_artist) + " &ldquo;#{@object.name}&rdquo;".html_safe %>
<% end %>

<%= render 'spree/shared/error_messages', target: @object %>

<%= form_for [:admin, @object] do |f| %>
  <%= render "form", form: f %>
  <div data-hook="artist_right_column_wrapper" class="col-md-4"></div>
  <%# render 'update' and 'cancel'  buttons %>
  <div class="col-md-8">
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </div>
<% end %>


